package ${packageName}.web

import cn.exsolo.auth.shiro.ext.stereotype.AccessEdit;
import cn.exsolo.auth.shiro.ext.stereotype.AccessProvider;
import cn.exsolo.auth.shiro.ext.stereotype.AccessView;
import cn.exsolo.batis.core.Condition;
import cn.exsolo.batis.core.PageObject;
import cn.exsolo.batis.core.Pagination;
import ${modelClassName};
import cn.exsolo.${moduleName}.service.${BizName}Service;
import cn.exsolo.springmvcext.stereotype.RequestJSON;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

/**
 * //TODO 注释
 * @author ExSoloGen
 * @date ${date}
 **/
@Component
@RequestMapping("api/${moduleName}/${bizName}/")
@RestController()
@AccessProvider(module = "${moduleName}", node = "${bizName}", label = "功能名称")
public class ${BizName}Controller {

    @Autowired
    private ${BizName}Service ${bizName}Service;

    @AccessView
    @RequestMapping(path = "page", method = RequestMethod.POST)
    public PageObject<${ObjectName}> page(
            @RequestJSON Condition cond,
            @RequestJSON Pagination pagination) {
        return ${bizName}Service.page(cond, pagination);
    }

    @AccessView
    @RequestMapping(path = "info", method = RequestMethod.POST)
    public ${ObjectName} get(@RequestParam() String id) {
        ${ObjectName} info = ${bizName}Service.get(id);
        return info;
    }

    @AccessEdit
    @RequestMapping(path = "add", method = RequestMethod.POST)
    public void add(@RequestJSON() ${ObjectName} po) {
        ${bizName}Service.add(po);
    }

    @AccessEdit
    @RequestMapping(path = "update", method = RequestMethod.POST)
    public void update(@RequestJSON() ${ObjectName} po) {
        ${bizName}Service.update(po);
    }
    @AccessEdit
    @RequestMapping(path = "delete", method = RequestMethod.POST)
    public void delete(@RequestParam() String id) {
        ${bizName}Service.delete(id);
    }

}
